In [2]:
a = 5.6
print(type(a))

<class 'float'>

In [7]:
s = "mgmg"
type(s) # this is a comment
s.find("m")
s.find("m",1)

2

In [10]:
s="abcab"
print(s.find("a"))

0

In [16]:
s = "mgm is the college"

# s.split() #splits the sententece into words

# s.capitalize()
# s.upper()
# s.casefold()

'mgm is the college'

In [24]:
password = "1234@jkdhfj"
# password.isalpha()
print(password.isalnum())
print(password.endswith("hfj"))
print(password.startswith("123"))

False
True
True

In [26]:
text = "Manish"
#scan every character
for i in text:
    print(i)

M
a
n
i
s
h

In [30]:
x="Hii"
print(x*4) #repeat x 4 times

HiiHiiHiiHii

In [31]:
# TypeError                                 Traceback (most recent call last)
# Cell In[28], line 2
#       1 x="Hii"
# ----> 2 print(x+4)

# TypeError: can only concatenate str (not "int") to str

In [32]:
a="hii"
b="hello"
print(a+b)  #concate the string

hiihello

In [33]:
#replace a chaacter with new char

s="money"

s.replace("m","h")

'honey'

# Slicing

In [45]:
a="education"
# print(a[0:5])
# print(a[:4])
# print(a[2:])
# print(a[:])  
print(a[::2]) # skiping value
print(a[::-1]) # reverse string

euain
noitacude

In [46]:
#reverse a string using for loop

for i in range(1,11):
    print(i,end="")

12345678910

In [78]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [79]:
#reverse a string
a="hello"
for i in range(len(a)-1,-1,-1):
    print(a[i])

o
l
l
e
h

In [85]:
#palindrome
text="madama"
reverse=text[::-1]
print(text==rev)

if text==text[::-1]:print("Palindrome")
else:print("Not Palindrome")

False
Not Palindrome

In [103]:
text="eating"

# if text[-3:]=="ing":
if len(text)<3:
    print(text)
else:
    if text.endswith("ing")==True:
        print(text+"ly")
    else:
        print(text+"ing")

eatingly

In [110]:
#join first 2 le
text="w3r"

if len(text)<2:
    print(-1)
else:
    print(text[:2]+text[-2:])

w33r

In [2]:
# if D then add and if W then minus
transactions = ["D:300","W:200","D:300","W:100"]
totalAmount = 0

for i in transactions:
    action, amount = i.split(":")
    amount = int(amount)

    if action == "D":
        totalAmount += amount
    elif action == "W":
        totalAmount -= amount
print(totalAmount)

300

In [124]:
# count the no if special characters
text="ahf@hjfu$hd%hsfua6"
count=0
for i in text:
    if i.isalnum()==False:
        count=count+1
print(count)

3