# Lists
List is a mutable, ordered collection

In [1]:
shopping_list = []
print(dir(shopping_list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [2]:
shopping_list.append(1)
shopping_list.insert(0,2)
shopping_list.sort()
print(shopping_list)

[1, 2]

In [3]:
print(list(range(1, 51)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

l1 = [ 1, 2 ,-3, 4 ,0, 6, 7 ] 
l1.sort()

In [4]:
l1 = [ 1, 2 ,-3, 4 ,0, 6, 7 ] 
l1.sort(reverse=True)
print(l1)

[7, 6, 4, 2, 1, 0, -3]

In [5]:
a=list(range(1,5))
b=list(range(6, 10))
a.extend(b)
print(a)
print(b)

[1, 2, 3, 4, 6, 7, 8, 9]
[6, 7, 8, 9]

In [6]:
lst= list(range(1, 11))
ans=[]
for i in lst:
    ans.append(i**2)

print(ans)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
lst = ["chaava", "aashique", "dangal", "boothnath", "avengers"]

lst.sort()
lst

['aashique', 'avengers', 'boothnath', 'chaava', 'dangal']

In [8]:
letter = list("abAB")  #convert string to list
letter.sort()
letter

['A', 'B', 'a', 'b']

In [9]:
lst = [0, 1, 1, 2, 3, 5, 8, 13]

lst[2:5]= [20] # replacing character in list
lst

[0, 1, 20, 5, 8, 13]

In [10]:
nested_l = [[1,2],
            [3,4],
            [5,6]]
nested_l[2][-2]

5

In [11]:
numbers = [[1,2,2],
           [3,4,4],
           [5,6,4]]

print(numbers[0][0]+numbers[1][1]+numbers[2][2])

9

In [12]:
# Reverse each string in list
names = ["manish", "soham", "anubhav", "sujal"]

for i in range(0, len(names)):
    names[i] = names[i][::-1]
print(names)

['hsinam', 'mahos', 'vahbuna', 'lajus']

In [13]:
#rotate a list

lst = [1,2,3,4,5]

for i in range(0, len(lst)):
    lst.insert(0, lst.pop())
    print(lst)

[5, 1, 2, 3, 4]
[4, 5, 1, 2, 3]
[3, 4, 5, 1, 2]
[2, 3, 4, 5, 1]
[1, 2, 3, 4, 5]

In [14]:
lst = []

"list is empty" if len(lst)==0 else "Not Eempty"

'list is empty'

In [15]:
#convert a list into string
chars = ["m","a","n","i","s","h"]

"".join(chars)

'manish'

In [16]:
lst = ["A","B"]
n=3
new_list=[]

for i in range(1, n):
    for j in lst:
        new_list.append(j+str(i))
print(new_list)

['A1', 'B1', 'A2', 'B2']

In [17]:
#find length of last word
text = "me learning python"

word= text.split()
print(len(word[-1]))
word.reverse()
print(" ".join(word))

6
python learning me

In [18]:
# take string rearrange the vowels and consonent
# vowels should comes after the consonent

text = "education"
vowels = "aieou"
vols = []
consonent = []

for i in text:
    if i in vowels:
        vols.append(i)
    else:
        consonent.append(i)     

print(" ".join(consonent+vols))

d c t n e u a i o

In [42]:
sale = ["Amit","Laptop",[35000,42000,85000],20000]

#1) Print the sell of 2nd quarter
print(sale[2][1])

#2 add 56000 quarter
sale[2].append(56000)
print(sale)

#3 replace laptop with tablet
sale[1]="Tablet"
print(sale)

#4 remove commission
sale.pop(-1)
print(sale)

#5

42000
['Amit', 'Laptop', [35000, 42000, 85000, 56000], 20000]
['Amit', 'Tablet', [35000, 42000, 85000, 56000], 20000]
['Amit', 'Tablet', [35000, 42000, 85000, 56000]]

In [50]:
# Maxican wave problem
word = "hello"
ans = []
for i in range(0, len(word)):
    ans.append(word[:i]+word[i].upper()+word[i+1:])
print(ans)

['Hello', 'hEllo', 'heLlo', 'helLo', 'hellO']

In [53]:
def split_and_join(line):
    # write your code here
    return "-".join(line.split())
    
if __name__ == '__main__':
    line = input()
    result = split_and_join(line)
    print(result)

 this is me

this-is-me

In [ ]:
def mutate_string(string, position, character):
    return string[:position]+ character + string[position+1:]

if __name__ == '__main__':
    s = input()
    i, c = input().split()
    s_new = mutate_string(s, int(i), c)
    print(s_new)

In [69]:
import string

text = "Ohhh, what a lovely place!!!!!!"
new_text=""

for i in text:
    if i not in string.punctuation:
        new_text=new_text+i
print(new_text)

Ohhh what a lovely place

# set

In [80]:
# take a list remove the dupicaton 

text = [1,2,3,1,2,3,4,5,5,]
# print(list(set(text)))

buffer = []

for i in text:
    if i not in buffer:
        buffer.append(i)
print(buffer)

name = "raunak"
txt = ""
for i in name:
    if i not in txt:
        txt += i
print(txt)

[1, 2, 3, 4, 5]
raunk

In [81]:
print(dir(set))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [88]:
lst = {1,2,3,4,4}
sec = {7,8,9}

print(lst.isdisjoint(sec))
print(lst.issubset(sec))

True
False

In [103]:
# take a list of strings sort the list based on len of strings

lst = ['123', '22', '55555', '2133', '5', '0']
for i in range(0, len(lst)):
    for j in range(i+1, len(lst)):
        if len(lst[i])>len(lst[j]):
            lst[i], lst[j]=lst[j], lst[i]

print(lst)

['5', '0', '22', '123', '2133', '55555']